body { 
    background: white;
}

      #map {
        height: 320px;
       
 		margin-bottom: 3%;      
        padding: 0px;
		position:fixed;
box-shadow: 8px 8px 8px #000000;
      }



